In [2]:
import csv
import pandas as pd

In [18]:
df = pd.read_csv('c:/users/rusty/documents/moby/ipave/data/new_data.csv',
                 names = ['IP_Address', 'Subnet_mask', 'In_use?', 'unix_timestamp'])

In [19]:
df

     IP_Address  Subnet_mask  In_use?  unix_timestamp
0    10.128.0.0           22        0      1525670182
1    10.128.4.0           22        0      1525670192
2    10.128.8.0           22        0      1525670202
3   10.128.12.0           22        0      1525670212
4   10.128.16.0           22        0      1525670222
5  10.128.128.0           24        0      1525670222
6  10.128.129.0           24        0      1525670222
7  10.128.130.0           24        0      1525670222
8  10.128.131.0           24        0      1525670222
9  10.128.132.0           22        0      1525670222

In [20]:
df['IP_Address'].count()

10

In [21]:
dic = {22:4, 24:1}

In [22]:
df['mask_conversion'] = df['Subnet_mask'].map(dic)

In [23]:
df

     IP_Address  Subnet_mask  In_use?  unix_timestamp  mask_conversion
0    10.128.0.0           22        0      1525670182                4
1    10.128.4.0           22        0      1525670192                4
2    10.128.8.0           22        0      1525670202                4
3   10.128.12.0           22        0      1525670212                4
4   10.128.16.0           22        0      1525670222                4
5  10.128.128.0           24        0      1525670222                1
6  10.128.129.0           24        0      1525670222                1
7  10.128.130.0           24        0      1525670222                1
8  10.128.131.0           24        0      1525670222                1
9  10.128.132.0           22        0      1525670222                4

In [24]:
df['num_addresses'] = (df['mask_conversion']*256)
df

,IP_Address,Subnet_mask,In_use?,unix_timestamp,mask_conversion,num_addresses
0,10.128.0.0,22,0,1525670182,4,1024
1,10.128.4.0,22,0,1525670192,4,1024
2,10.128.8.0,22,0,1525670202,4,1024
3,10.128.12.0,22,0,1525670212,4,1024
4,10.128.16.0,22,0,1525670222,4,1024
5,10.128.128.0,24,0,1525670222,1,256
6,10.128.129.0,24,0,1525670222,1,256
7,10.128.130.0,24,0,1525670222,1,256
8,10.128.131.0,24,0,1525670222,1,256
9,10.128.132.0,22,0,1525670222,4,1024

In [25]:
#IP_count = df['mask_conversion'].sum()
IP_count = df['num_addresses'].sum()
IP_count

7168

In [29]:
total_addresses = 65534
pct_used = (IP_count/total_addresses)*100
print("percent used:", pct_used)

percent used: 10.937833796197394

In [30]:
df2 = df[['unix_timestamp', 'IP_Address', 'Subnet_mask', 'In_use?']]
df2

   unix_timestamp    IP_Address  Subnet_mask  In_use?
0      1525670182    10.128.0.0           22        0
1      1525670192    10.128.4.0           22        0
2      1525670202    10.128.8.0           22        0
3      1525670212   10.128.12.0           22        0
4      1525670222   10.128.16.0           22        0
5      1525670222  10.128.128.0           24        0
6      1525670222  10.128.129.0           24        0
7      1525670222  10.128.130.0           24        0
8      1525670222  10.128.131.0           24        0
9      1525670222  10.128.132.0           22        0

In [31]:
df3 = df2.set_index(['unix_timestamp'])
df3

                  IP_Address  Subnet_mask  In_use?
unix_timestamp
1525670182        10.128.0.0           22        0
1525670192        10.128.4.0           22        0
1525670202        10.128.8.0           22        0
1525670212       10.128.12.0           22        0
1525670222       10.128.16.0           22        0
1525670222      10.128.128.0           24        0
1525670222      10.128.129.0           24        0
1525670222      10.128.130.0           24        0
1525670222      10.128.131.0           24        0
1525670222      10.128.132.0           22        0

In [32]:
#df3.set_value('1525670192', 'In_use?', 1)
df3.at['1525670192', 'In_use?'] =1
df3

                  IP_Address  Subnet_mask  In_use?
unix_timestamp
1525670182        10.128.0.0           22        0
1525670192        10.128.4.0           22        1
1525670202        10.128.8.0           22        0
1525670212       10.128.12.0           22        0
1525670222       10.128.16.0           22        0
1525670222      10.128.128.0           24        0
1525670222      10.128.129.0           24        0
1525670222      10.128.130.0           24        0
1525670222      10.128.131.0           24        0
1525670222      10.128.132.0           22        0

In [33]:
#df3 = df3.groupby(['unix_timestamp', 'IP_Address', 'In_use?']).agg(['count'])

In [34]:
df4 = df3.reset_index()
df4.set_index(['unix_timestamp', 'IP_Address', 'In_use?']).unstack(level=-1)

                            Subnet_mask
In_use?                               0     1
unix_timestamp IP_Address
1525670182     10.128.0.0          22.0   NaN
1525670192     10.128.4.0           NaN  22.0
1525670202     10.128.8.0          22.0   NaN
1525670212     10.128.12.0         22.0   NaN
1525670222     10.128.128.0        24.0   NaN
               10.128.129.0        24.0   NaN
               10.128.130.0        24.0   NaN
               10.128.131.0        24.0   NaN
               10.128.132.0        22.0   NaN
               10.128.16.0         22.0   NaN